html{
    scroll-behavior: smooth;
}
body{
    color: white;
    background-color: black;
}
*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    color: var(--colors-main--);
    font-family: "Poppins";
}
:root{
    --colors-main-- : #00000;
}
/*------navbar Details-------*/
.navbar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 12rem;
    position: sticky;
    top: 0;
    background-color: #000000;
}
#search{
    font-size:1rem;
}
.logo img{
    width: 90px;
}
.navList{
    display: flex;
    gap: 2.5rem;
    letter-spacing: 2px;
    cursor: pointer;
    font-size: 1.5rex;
}
.login{
    width: 5rem;
    height: 2rem;
    cursor: pointer;
}
.log{
   text-align: center;
   border: 1px solid #767575;
    width: 100%;
    letter-spacing: 1px;
    height: 100%;
    align-content: center;
}
/*--------IRA FOcuses in --------------*/
.overView{
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    height: 5rem;
   margin: 3rem;
}
.IRA_Focuses{
    display: flex;
    gap: 8rem;
    height: 100%;
    align-items: center;
    letter-spacing: 2px;
    cursor: pointer;
}
.IRA_Focuses li{
    border-bottom: 1px solid #a7a4a4;
}
/*------display none use content ontap show content--------*/
.courseItem {
    text-align: center;
    line-height: 7rem;
    width: 70%;
    margin: auto;
}
.course_About{ 
    width: 70%;
    margin: auto;
    letter-spacing: 1px;
    line-height: 2rem;
    align-content: center;
    text-align: center;
}
.IRA_program{
    width: 70%;
    margin: auto;
    text-align: center;
    color: #767575;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 3rem;
}
/* ------overview ira------ */
.ov1{
    font-size: 2.6rex;
    line-height: 3.5rem;
    text-align: center;
    letter-spacing: 2px;
    font-weight: 500;
}
.ira_about{
    width: 70%;
    margin: auto;
    letter-spacing: 1px;
    line-height: 2rem;
    text-align: center;
}
/* ------opportunity on IRA------ */
.opportunity{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 4rem;
    letter-spacing: 3px;
    background-color: #1a1a1a;
}
.ou{
    margin: 2rem;
}
.ou_about{
    margin: 2rem;
}
.ou_level{
   display: flex;
   justify-content: space-evenly;
    color: orange;
    font-size: 4rem;
    font-style: normal;
    margin: 1.5rem;
}
.ou_about_levels{
    display: flex;
    justify-content: space-around;
    font-size: 2rex;
    margin: 2.3rem;
}
/* images png carusol */
.imgContent{
    overflow: hidden;
    margin-top: 4rem;
    width: 100%;
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 2rem;
}
figure{
    width: 400%;
    position: relative;
    animation: 6s slide infinite;
}
.imgContent::-webkit-scrollbar{
    display: none;
}
.png{
  position: relative;
   float: left;
   width: 25%;
   z-index: -2;

}
.png img{
    width: 100%;
}
@keyframes slide {
    0%{
        left: 0%;
    }
    10% {
        left: 0%;
    }
    20%{
        left: -100%;
    }
    30%{
        left: -100%;
    }
    40%{
        left: -200%;
    }
     40%{
        left: -200%;
    }
}
/* ----explore button----- */
.explore{
    margin-top: 3rem;
}
.explore p{
    width: 19%;
    font-size: 1.4rem;
    text-align: center;
    font-weight: 700;
    letter-spacing: 2px;
    
    margin: auto;
    background-color: orange;
    border-radius: 6px;
    box-shadow: 0 0 10px rgb(8, 8, 8);
    cursor: pointer;
}
/* ---location IRA Details---- */
.location{
    border: 1px solid;
    width: 80%;
    height: 450px;
    margin: auto;
    margin-top: 2rem;
}
/* -----learn process IRA----- */
.learnProcess{
    display: flex;
    justify-content: space-evenly;
}
.cardPro{
    width: 20%;
    letter-spacing: 2px;
    margin: 2rem;
    box-shadow: 0 0 10px rgb(96, 93, 93);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    cursor: pointer;
}
.lpng{
    width: 70%;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.lpng img{
    width: 100%;
    height: 100%;
}
.learn{
    font-size: 1.7rem;
}
.cardPro p{
    font-size: 20px;
    margin-left: 1rem;
}
.lmore{
    color: red;
    margin: 2rem;
}
/* ------cards in ira--------- */
.achive{
    text-align: center;
    line-height: 12rem;
    letter-spacing: 2px;
}
.card1{
    display: flex;
    justify-content: space-around;
    margin-bottom: 4rem;
}
.card1 img{
    width: 30%;
    border-radius: 0px;
} 
.card1 p{
    width: 30%;
    text-align: center;
    align-content: center;
    font-size: 19px;
    letter-spacing: 2px;
}
























































/* -----footer----- */
.fot {
  border: 1px solid black;
  background-color: black;
  color: white;
}
.content {
  font-family: var(--font--family--);
  display: flex;
  justify-content: space-around;
  padding-top: 33px;
  line-height: 40px;
}
.message {
  font-family: var(--font--family--);
  letter-spacing: 2px;
  text-align: center;
  line-height: 2rem;
  margin: 32px;
}
.sign {
  padding-top: 22px;
  margin: 18px;
}
.s-head {
  color: gray;
  letter-spacing: 2px;
}
.fot-i {
  font-family: var(--font--family--);
  text-align: center;
  padding: 22px;
  letter-spacing: 3px;
  font-size: 1.7rex;
}
.f-logo {
  font-family: "Poppins";
  font-weight: 300;
  font-style: normal;
  font-size: 7rem;
  text-align: center;
  letter-spacing: 40px;
  font-style: normal;
  text-shadow: 0 0 10px white;
}